@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@source inline("{hover:,}bg-goal-{{0..5..1}}");
@source inline("{hover:,}text-goal-foreground-{{0..5..1}}");

@theme {
  --color-background: #ffffff;
  --color-foreground: #171717;
  --color-goal-0: hsla(288, 71%, 53%, 1);
  --color-goal-1: hsla(313, 82%, 64%, 1);
  --color-goal-2: hsla(22, 77%, 57%, 1);
  --color-goal-3: hsla(51, 100%, 51%, 1);
  --color-goal-4: hsla(79, 81%, 64%, 1);
  --color-goal-5: hsla(173, 58%, 73%, 1);
  --color-goal-foreground-0: hsla(288, 71%, 93%, 1);
  --color-goal-foreground-1: hsla(313, 82%, 96%, 1);
  --color-goal-foreground-2: hsla(22, 77%, 97%, 1);
  --color-goal-foreground-3: hsla(51, 100%, 21%, 1);
  --color-goal-foreground-4: hsla(79, 81%, 29%, 1);
  --color-goal-foreground-5: hsla(173, 58%, 23%, 1);
}

body {
  font-family: var(--font-poppins), sans-serif;
}

h1 {
  font-weight: 700;
  font-size: 22px;
  line-height: 33px;
}

@theme inline {
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
}

:root {
  --radius: 0.625rem;
  --background: hsl(0, 0%, 96%);
  --foreground: oklch(0.129 0.042 264.695);
  --card: hsl(0, 0%, 96%);
  --card-foreground: oklch(0.129 0.042 264.695);
  --popover: hsl(0, 0%, 96%);
  --popover-foreground: oklch(0.129 0.042 264.695);
  --primary: hsla(151, 100%, 22%, 1);
  --primary-foreground: hsl(0, 0%, 96%);
  --secondary: hsl(0, 0%, 98%);
  --secondary-foreground: hsla(151, 100%, 22%, 1);
  --muted: hsl(0, 0%, 98%);
  --muted-foreground: oklch(0.554 0.046 257.417);
  --accent: hsl(0, 0%, 98%);
  --accent-foreground: hsla(151, 100%, 22%, 1);
  --destructive: oklch(0.577 0.245 27.325);
  --border: hsla(151, 58%, 92%, 1);
  --input: hsla(151, 58%, 92%, 1);
  --ring: oklch(0.704 0.04 256.788);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: hsl(0, 0%, 96%);
  --sidebar-foreground: oklch(0.129 0.042 264.695);
  --sidebar-primary: hsla(151, 100%, 22%, 1);
  --sidebar-primary-foreground: hsl(0, 0%, 96%);
  --sidebar-accent: hsl(0, 0%, 98%);
  --sidebar-accent-foreground: hsla(151, 100%, 22%, 1);
  --sidebar-border: hsla(151, 58%, 92%, 1);
  --sidebar-ring: oklch(0.704 0.04 256.788);
}

.dark {
  --background: oklch(0.129 0.042 264.695);
  --foreground: hsl(0, 0%, 96%);
  --card: hsla(151, 100%, 22%, 1);
  --card-foreground: hsl(0, 0%, 96%);
  --popover: hsla(151, 100%, 22%, 1);
  --popover-foreground: hsl(0, 0%, 96%);
  --primary: hsla(151, 58%, 92%, 1);
  --primary-foreground: hsla(151, 100%, 22%, 1);
  --secondary: oklch(0.279 0.041 260.031);
  --secondary-foreground: hsl(0, 0%, 96%);
  --muted: oklch(0.279 0.041 260.031);
  --muted-foreground: oklch(0.704 0.04 256.788);
  --accent: oklch(0.279 0.041 260.031);
  --accent-foreground: hsl(0, 0%, 96%);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.551 0.027 264.364);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: hsla(151, 100%, 22%, 1);
  --sidebar-foreground: hsl(0, 0%, 96%);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: hsl(0, 0%, 96%);
  --sidebar-accent: oklch(0.279 0.041 260.031);
  --sidebar-accent-foreground: hsl(0, 0%, 96%);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.551 0.027 264.364);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}
