@import "tailwindcss";

@source inline("{hover:,}bg-goal-{{0..5..1}}");
@source inline("{hover:,}text-goal-foreground-{{0..5..1}}");

@theme {
  --color-background: #ffffff;
  --color-foreground: #171717;
  --color-goal-0: hsla(288, 71%, 53%, 1);
  --color-goal-1: hsla(313, 82%, 64%, 1);
  --color-goal-2: hsla(22, 77%, 57%, 1);
  --color-goal-3: hsla(51, 100%, 51%, 1);
  --color-goal-4: hsla(79, 81%, 64%, 1);
  --color-goal-5: hsla(173, 58%, 73%, 1);
  --color-goal-foreground-0: hsla(288, 71%, 93%, 1);
  --color-goal-foreground-1: hsla(313, 82%, 96%, 1);
  --color-goal-foreground-2: hsla(22, 77%, 97%, 1);
  --color-goal-foreground-3: hsla(51, 100%, 21%, 1);
  --color-goal-foreground-4: hsla(79, 81%, 29%, 1);
  --color-goal-foreground-5: hsla(173, 58%, 23%, 1);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-poppins), sans-serif;
}

h1 {
  font-weight: 700;
  font-size: 22px;
  line-height: 33px;
}
